<html>
	<head>
		<title>{{ page.title }}</title>
	</head>
	<body style="padding:0; spacing:0;">
		<div style="position:absolute; left:0; width:100%; top:0;">
			<div style="padding-left:13em">
				{{ content }}
			</div>
		</div>
		<div style="position:fixed; top:0; left:0; padding-left:0em; padding-top:1em; width:12em; height:100%; border-right: 1px solid black;">
			<ul>
				<li><a href="/about.html">about</a></li>
				<li><a href="/projects.html">projects</a></li>
			</ul>
			<br/>
			&nbsp;categories
			<ul>
				<li><a href="/programming.html">programming ({{ site.categories.programming }})</a></li>
				<ul>
					<li><a href="/erlang.html">erlang ({{ site.categories.erlang | size }})</a></li>
				</ul>
			</ul>
		</div>
	</body>
</html>
